//TYPOGRAPHY
$font-cjk:    			'Microsoft YaHei', 'STXihei';
$font-base:    			'Source Sans Pro', 'Noto Sans', $font-cjk, serif;
$font-primary:			'Work Sans', $font-cjk, serif;
$font-secondary:		'Roboto Mono', $font-cjk, monospace;
$font-monospace:		'Roboto Mono', $font-cjk, monospace;
$font-condensed:		'Roboto Condensed', $font-cjk, monospace;

$font-weight-bold:		700;

//COLORS
$op-blue: 				#3E8FDE;
$op-green: 				#144732;

$color-white:			#fff;
$color-black:			#000;
$color-red:				#d50000;
$color-green:			#689F38;

$color-primary: 		$op-blue;
$color-secondary:		$op-green;

//$color-primary: 		#F50057;

$color-primary-dark:	darken($color-primary,45%); 

$color-base: 			desaturate($color-primary-dark,75%); 

$transition-default:	all 0.3s cubic-bezier(0, 0, 0.2, 1);
$header-height:			3.75rem;

$section-padding:		5rem;

$border:				1px darken($color-white,15%) solid; 
$border-radius:			5px; 

$box-shadow:			0 1px 5px rgba($color-black,0.15);
$box-shadow:			0 2px 5px rgba($color-black,0.35);

html { font-size: 16px }

body.opfw {
background: darken($color-white,5%);
color: darken($color-white,55%);
font-family: $font-primary;

@media (max-width: 768px) { 
.container { max-width: 100%; }
}

//margin-left: 10vw;

.btn,
.op-box-tools > * { transition: $transition-default; }

// OVERRIDES 

h1 { 
color: $color-primary;
font-size: 2rem; 
font-weight: 300; 
margin-bottom: 1rem;
	&.page-title {
	font-size: 2.25rem;
	letter-spacing: -0.05rem;
	}
}

h2 {
font-size: 1.125rem; 
font-size: 1rem; 
text-transform: uppercase;
color: $color-primary;
font-weight: 700; 
}

h3 {
font-size: 1rem;
}

.table { 
//display: block;
font-size: 0.7rem;
font-family: $font-monospace;
overflow-x: auto;
}

input[type=text] {
min-width: 3rem;
font-size: inherit;
padding: 0.5rem 0.625rem; 
}

th {
font-weight: 700;

//background: rgba($color-primary,0.25%);
//background: $color-primary; color: #fff; border: none;
}

td {
vertical-align: middle;
}

.material-icons {
float: left;
cursor: pointer;
//line-height: inherit;
}

.toolbar {
padding: 2rem 0;
}
.align-items-center > * > *:last-child {
margin-bottom: 0
}

.btn {
font-weight: $font-weight-bold ;
text-transform: uppercase;
display: inline-flex;
align-items: center;
padding: 0.5rem 0.75rem;
cursor: pointer;
box-shadow: none;
white-space: normal; //override
	
	&:focus {
	box-shadow: none;
	}
	
	i {
	margin-right: 0.5rem;
	}
	
	&.btn-primary {
	color: $color-white;
	border: none;
	background: darken($color-primary,10%);
	box-shadow: 0 2px 0 darken($color-primary,20%);

		&:hover {
		background: saturate($color-primary,55%);
		}
	}
	&.btn-secondary {
	color: $color-white;
	border: none;
	background: $color-secondary;
	//background: lighten($color-secondary,30%);
	box-shadow: 0 2px 0 darken($color-secondary,10%);
		&:hover {
		background: saturate($color-secondary,75%);
		//box-shadow: 0 2px 0 darken($color-secondary,25%);
		}
	}


}
	
	/* label {
    font-size: 0.75rem;
	text-transform: uppercase;
	font-weight: 700;
	} */
	
	.op-box {
	background: $color-white;
	box-shadow: $box-shadow;
	margin-bottom: 1rem;
	//padding-bottom: 1rem;
	border-radius: $border-radius;
		> .row {
		margin-bottom: 1rem;
			&:last-child {
			margin-bottom: 0;
			}
			@media (max-width: 800px) { 
			margin-bottom: 1rem;
				> div {
				margin-bottom: 1rem;
					&:last-child {
					margin-bottom: 0;
					}
				}
			}
		}
	}
	
	.table {
	margin-bottom: 0;
		@media (max-width: 1024px) { 
			&.table-responsive {
			display: block;
			width: 100%;
				&:last-child {
				margin-bottom: 0;
				}
			}
		}
	}
	
	.op-box-header,
	.op-box-footer {
	border-top: $border;
	padding: 1rem 0;
	}

	.row {
	margin-bottom: 1rem;
	}
	
	.op-box-header {
	//border-bottom: $border;
	color: $color-white;
	//background: $color-primary;
	background: darken($color-primary,25%);
	//margin-bottom: 1rem;
	border-top-left-radius: $border-radius;
	border-top-right-radius: $border-radius;
	
	
		.btn { 
		background: inherit;
		color: $color-white;
		border: 1px $color-white solid;
		padding: 0.25rem 0.5rem;
			&:hover {
			background: $color-white;
			color: $color-primary;
			opacity: 1;
			}
		}
		
		
		h1 {
		color: inherit;
		font-size: 1.25rem;
		font-weight: 400;
		margin-bottom: 0
		}
		
		h2 {
		color: $color-white;
		margin-bottom: 0;
		}
		
		.op-box-tools > *{
		opacity: 0.35;
		cursor: pointer;
			&:hover {
			opacity: 1
			}
		}
		input {
		float: left;
		}
	}
	
	/* .op-box-footer {
	margin-bottom: 0;
	}  */

	
.toggle {
cursor: pointer;
	&:hover {
	opacity: 1
	}
}
.tago { 
display: none;
}


$counter-dimensions: 1.5rem;
.counter {
display: block;
background: $color-white;
color:	darken($color-primary,25%);
font-weight: $font-weight-bold;
font-family: $font-monospace;
font-size: 0.85rem;
padding: 0 $counter-dimensions / 2;
min-width: $counter-dimensions;
height: $counter-dimensions;
line-height: $counter-dimensions;
border-radius: $counter-dimensions / 2;
text-align: center;

}

&.activity-center {
	.btn { 
	box-shadow: none; 
	//padding: 0.5rem 0.5rem;
	}
	.op-box-header {
	margin-bottom: 1rem;
	padding: 0.625rem 0;
	padding: 0.75rem 0;
	}
	
	.activity-center-list {
	font-size: 0.9rem;
		.material-icons { display: none; }
		.row .description {
			&:before {
			content: "MOBILE";
			display: block;
			//font-family: $font-condensed;
			font-weight: $font-weight-bold;
			margin-bottom: 0.05rem;
			font-size: 0.75rem;
			//opacity: 0.5;
			text-transform: uppercase;
			}
			&.epod:before { content: "EPOD"; }
			&.shipment:before { content: "shipment"; }

			
		}
		
		.multi-fix > div {
		margin-bottom: 0.5rem;
			&:last-child {
			margin-bottom: 0;
			}
		}

		> * {
		font-family: $font-base;
		border-bottom: $border;
		padding: 0.75rem 0;
		align-items: center;
			@media (max-width: 576px) { 
			> * {
			margin-bottom: 0.5rem;
				&:last-child {
				margin-bottom: 0;
				}
			}
			}
			&:last-child {
			border: none;
			}
		}
		
		.btn { 
		font-family: $font-primary;
		}

		
		.congrats {
		font-family: $font-primary;
		font-weight: bold;
		color: $color-green;
		text-transform: uppercase;
		}
		p:last-child {
		margin-bottom: 0;
		}

	}
}

/* CONTRACTED RATES */
&.contracted-rates {
margin-top: 1rem;
color: lighten($color-black,35%);
//margin-left: 10vw;

	.container, .container-fluid {
	@media (min-width: 1024px) {
	//max-width: 90vw;
	}
	} 

	.btn-primary { 
	box-shadow: none;
	}
	.table {
		.amount {
		white-space: nowrap
		}
		input {
		float: left;
		}
		.material-icons {
		opacity: 0.5;
		transition: $transition-default;
			&:hover {
			opacity: 1;
			color: $color-primary;
			}
		}
	}
	.table th, .table td {
	padding: 0.5rem;
	}
	.table-bordered {
		td {
		border: 1px darken($color-white,15%) solid;
	}
	}
	thead tr {
	background: darken($color-primary,15%);	
	color: $color-white;	
		th {
		border-color: darken($color-primary,15%) !important;	
		border-bottom: none;
		}
	}
	//tbody tr:nth-child(4n-1) td[rowspan],
	tbody tr:nth-child(4n-1),
	tbody tr:nth-child(4n)	{
	background: darken($color-white,5%);
	} 
}

.input-group-btn > .btn {
background: saturate($color-secondary,50%);
color: $color-white;
	&:hover {
	background: saturate($color-secondary,75%);
	}
}

}


.x-editable.date {
	&.editable-click, 
	&a.editable-click, 
	&a.editable-click:hover { 
	color: inherit;
	border-bottom-color: #fff;
	font-weight: 400;
	}
}

.x-editable.text .editable-buttons { 
display: none;
}





