/* compiled by scssphp v0.6.7 on Mon, 25 Sep 2017 14:23:33 +0200 (0.4197s) */

 html { font-size:16px; }

 body.opfw { background:#f2f2f2; color:#737373; font-family:'Work Sans', 'Microsoft YaHei', 'STXihei', serif; /* label {
 font-size: 0.75rem;
 text-transform: uppercase;
 font-weight: 700;
 } */ /* .op-box-footer {
 margin-bottom: 0;
 }  */ /* CONTRACTED RATES */ }

 @media (max-width:768px) { body.opfw .container { max-width:100%; }

 }

 body.opfw .btn,body.opfw .op-box-tools > * { transition:all 0.3s cubic-bezier(0, 0, 0.2, 1); }

 body.opfw h1 { color:#3e8fde; font-size:2rem; font-weight:300; margin-bottom:1rem; }

 body.opfw h1.page-title { font-size:2.25rem; letter-spacing:-0.05rem; }

 body.opfw h2 { font-size:1.125rem; font-size:1rem; text-transform:uppercase; color:#3e8fde; font-weight:700; }

 body.opfw h3 { font-size:1rem; }

 body.opfw .table { font-size:0.7rem; font-family:'Roboto Mono', 'Microsoft YaHei', 'STXihei', monospace; overflow-x:auto; }

 body.opfw input[type=text] { min-width:3rem; font-size:inherit; padding:0.5rem 0.625rem; }

 body.opfw th { font-weight:700; }

 body.opfw td { vertical-align:middle; }

 body.opfw .material-icons { float:left; cursor:pointer; }

 body.opfw .toolbar { padding:2rem 0; }

 body.opfw .align-items-center > * > *:last-child { margin-bottom:0; }

 body.opfw .btn { font-weight:700; text-transform:uppercase; display:inline-flex; align-items:center; padding:0.5rem 0.75rem; cursor:pointer; box-shadow:none; white-space:normal; }

 body.opfw .btn:focus { box-shadow:none; }

 body.opfw .btn i { margin-right:0.5rem; }

 body.opfw .btn.btn-primary { color:#fff; border:none; background:#2276c7; box-shadow:0 2px 0 #1b5c9b; }

 body.opfw .btn.btn-primary:hover { background:#1d8fff; }

 body.opfw .btn.btn-secondary { color:#fff; border:none; background:#144732; box-shadow:0 2px 0 #091f16; }

 body.opfw .btn.btn-secondary:hover { background:#005b36; }

 body.opfw .op-box { background:#fff; box-shadow:0 2px 5px rgba(0, 0, 0, 0.35); margin-bottom:1rem; border-radius:5px; }

 body.opfw .op-box > .row { margin-bottom:1rem; }

 body.opfw .op-box > .row:last-child { margin-bottom:0; }

 @media (max-width:800px) { body.opfw .op-box > .row { margin-bottom:1rem; }

 body.opfw .op-box > .row > div { margin-bottom:1rem; }

 body.opfw .op-box > .row > div:last-child { margin-bottom:0; }

 }

 body.opfw .table { margin-bottom:0; }

 @media (max-width:1024px) { body.opfw .table.table-responsive { display:block; width:100%; }

 body.opfw .table.table-responsive:last-child { margin-bottom:0; }

 }

 body.opfw .op-box-header,body.opfw .op-box-footer { border-top:1px #d9d9d9 solid; padding:1rem 0; }

 body.opfw .row { margin-bottom:1rem; }

 body.opfw .op-box-header { color:#fff; background:#174f86; border-top-left-radius:5px; border-top-right-radius:5px; }

 body.opfw .op-box-header .btn { background:inherit; color:#fff; border:1px #fff solid; padding:0.25rem 0.5rem; }

 body.opfw .op-box-header .btn:hover { background:#fff; color:#3e8fde; opacity:1; }

 body.opfw .op-box-header h1 { color:inherit; font-size:1.25rem; font-weight:400; margin-bottom:0; }

 body.opfw .op-box-header h2 { color:#fff; margin-bottom:0; }

 body.opfw .op-box-header .op-box-tools > * { opacity:0.35; cursor:pointer; }

 body.opfw .op-box-header .op-box-tools > *:hover { opacity:1; }

 body.opfw .op-box-header input { float:left; }

 body.opfw .toggle { cursor:pointer; }

 body.opfw .toggle:hover { opacity:1; }

 body.opfw .tago { display:none; }

 body.opfw .counter { display:block; background:#fff; color:#174f86; font-weight:700; font-family:'Roboto Mono', 'Microsoft YaHei', 'STXihei', monospace; font-size:0.85rem; padding:0 0.75rem; min-width:1.5rem; height:1.5rem; line-height:1.5rem; border-radius:0.75rem; text-align:center; }

 body.opfw.activity-center .btn { box-shadow:none; }

 body.opfw.activity-center .op-box-header { margin-bottom:1rem; padding:0.625rem 0; padding:0.75rem 0; }

 body.opfw.activity-center .activity-center-list { font-size:0.9rem; }

 body.opfw.activity-center .activity-center-list .material-icons { display:none; }

 body.opfw.activity-center .activity-center-list .row .description:before { content:"MOBILE"; display:block; font-weight:700; margin-bottom:0.05rem; font-size:0.75rem; text-transform:uppercase; }

 body.opfw.activity-center .activity-center-list .row .description.epod:before { content:"EPOD"; }

 body.opfw.activity-center .activity-center-list .row .description.shipment:before { content:"shipment"; }

 body.opfw.activity-center .activity-center-list .multi-fix > div { margin-bottom:0.5rem; }

 body.opfw.activity-center .activity-center-list .multi-fix > div:last-child { margin-bottom:0; }

 body.opfw.activity-center .activity-center-list > * { font-family:'Source Sans Pro', 'Noto Sans', 'Microsoft YaHei', 'STXihei', serif; border-bottom:1px #d9d9d9 solid; padding:0.75rem 0; align-items:center; }

 @media (max-width:576px) { body.opfw.activity-center .activity-center-list > * > * { margin-bottom:0.5rem; }

 body.opfw.activity-center .activity-center-list > * > *:last-child { margin-bottom:0; }

 }

 body.opfw.activity-center .activity-center-list > *:last-child { border:none; }

 body.opfw.activity-center .activity-center-list .btn { font-family:'Work Sans', 'Microsoft YaHei', 'STXihei', serif; }

 body.opfw.activity-center .activity-center-list .congrats { font-family:'Work Sans', 'Microsoft YaHei', 'STXihei', serif; font-weight:bold; color:#689f38; text-transform:uppercase; }

 body.opfw.activity-center .activity-center-list p:last-child { margin-bottom:0; }

 body.opfw.contracted-rates { margin-top:1rem; color:#595959; }

 body.opfw.contracted-rates .btn-primary { box-shadow:none; }

 body.opfw.contracted-rates .table .amount { white-space:nowrap; }

 body.opfw.contracted-rates .table input { float:left; }

 body.opfw.contracted-rates .table .material-icons { opacity:0.5; transition:all 0.3s cubic-bezier(0, 0, 0.2, 1); }

 body.opfw.contracted-rates .table .material-icons:hover { opacity:1; color:#3e8fde; }

 body.opfw.contracted-rates .table th,body.opfw.contracted-rates .table td { padding:0.5rem; }

 body.opfw.contracted-rates .table-bordered td { border:1px #d9d9d9 solid; }

 body.opfw.contracted-rates thead tr { background:#1e69b1; color:#fff; }

 body.opfw.contracted-rates thead tr th { border-color:#1e69b1 !important; border-bottom:none; }

 body.opfw.contracted-rates tbody tr:nth-child(4n-1),body.opfw.contracted-rates tbody tr:nth-child(4n) { background:#f2f2f2; }

 body.opfw .input-group-btn > .btn { background:#005b36; color:#fff; }

 body.opfw .input-group-btn > .btn:hover { background:#005b36; }

 .x-editable.date.editable-click,.x-editable.datea.editable-click,.x-editable.datea.editable-click:hover { color:inherit; border-bottom-color:#fff; font-weight:400; }

 .x-editable.text .editable-buttons { display:none; }

